<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.EstateDao">

<!-- 数据总条数 -->
	<select id="getCount" resultType="Integer">
		select count(1) from real_estate
	</select>
	<!-- 获得分页数据 -->
	<select id="getPageLists" resultMap="elist">
		SELECT r.*,u.name FROM real_estate r
			INNER  JOIN users u ON(r.cardId=u.cardId )
			<where>
				<if test="type==00">and 1=1 </if>
				<if test="type==01"> and u.name=#{query}</if> 
				 <if test="type==02">and r.cardId=#{query}</if>
			</where>
			limit #{from},#{pageSize}
	</select>

	<resultMap type="Estate" id="elist" autoMapping="true">
		<association property="users" javaType="Users" autoMapping="true">
			<result column="name" property="name"/>
		</association>
	</resultMap> 
	
	
</mapper>